.button {
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-family: var(--helvetica);
  color: var(--white);
  background-color: transparent;
  margin-top: 10px;
  display: inline-flex;
  padding: 0;
  align-items: center;
  font-size: var(--text-mobile-font-size);

  & svg {
    flex-shrink: 0;
  }

  @media (--desktop) {
    font-size: var(--text-desktop-font-size);
    margin-top: 20px;

    & svg {
      width: 25px;
      height: 25px;
      margin-left: 5px;
    }
  }
}
