.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;

  @media (--mobile) {
    & br {
      display: none;
    }
  }

  @media (--desktop) {
    text-align: left;
    align-items: flex-start;
  }
}

.text {
  margin: 15px 0;
  flex: 1;

  @media (--desktop) {
    margin: 20px 0;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  font-family: var(--helvetica);

  @media (--desktop) {
    font-size: 24px;
  }
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 20px;

  @media (--desktop) {
    width: 280px;
    height: 280px;
  }
}
