.card {
  width: 100%;
  border-radius: 20px;
  background-color: var(--gray);
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (--desktop) {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
  }
}

.cardInner {
  padding: 15px;

  @media (--desktop) {
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  margin: 10px 0;

  @media (--desktop) {
    font-size: 40px;

    & br {
      display: none;
    }
  }
}

.price {
  color: var(--white);
  background-color: var(--purple);
  padding: 10px;
  border-radius: 5px;
  display: inline-flex;

  & span {
    font-weight: 700;
  }
}

.season {
  margin-top: 15px;

  & p {
    text-transform: uppercase;
    font-weight: 600;

    & + p {
      margin: 5px 0 0;
    }
  }
}

.bottom {
  @media (--desktop) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

.points {
  padding: 0;
  margin: 15px 0 30px;

  & li {
    list-style: none;

    & + li {
      margin-top: 5px;
    }
  }

  @media (--desktop) {
    margin: 0;

    & li + li {
      margin-top: 10px;
    }
  }
}

.imageContainer {
  width: 100%;
  border-radius: 20px 10px 20px 20px;
  height: 230px;
  overflow: hidden;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
  }

  @media (--desktop) {
    width: 460px;
    height: 360px;
    margin-left: 20px;
  }
}

.arrowContainer {
  position: absolute;
  background-color: var(--gray);
  width: 60px;
  height: 60px;
  right: 0;
  top: 0;
  border-radius: 0 10px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    border-top-right-radius: 50%;
    box-shadow: 0 -20px 0 0 var(--gray);
  }

  &::after {
    top: 0;
    left: -40px;
  }

  &::before {
    top: 60px;
    left: 20px;
  }

  @media (--desktop) {
    width: 90px;
    height: 90px;

    &::after,
    &::before {
      height: 80px;
      width: 80px;
      box-shadow: 0 -40px 0 0 var(--gray);
    }

    &::after {
      left: -80px;
    }

    &::before {
      top: 90px;
      left: 10px;
    }
  }
}

.arrowContainerInner {
  top: 0;
  right: 0;
  position: absolute;
  background-color: var(--white);
  width: 55px;
  height: 55px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  & svg {
    color: var(--purple);
    width: 40px !important;
    height: 40px !important;
  }

  @media (--desktop) {
    width: 80px;
    height: 80px;

    & svg {
      width: 60px !important;
      height: 60px !important;
    }
  }
}
