.input {
  margin-top: 10px;

  @media (--desktop) {
    margin-top: 30px;
  }
}

.textarea {
  margin-top: 50px;

  @media (--desktop) {
    margin-top: 0;
  }
}

.buttonRow {
  display: flex;
  margin-top: 30px;

  @media (--desktop) {
    margin-top: 0;
    justify-content: flex-end;
  }
}

.button {
  background-color: var(--purple);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: var(--text-mobile-font-size);

  @media (--mobile) {
    flex: 1;
  }

  @media (--desktop) {
    font-size: var(--text-desktop-font-size);
    padding: 19px 60px;
  }
}

.arrowContainer {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color: var(--purple);
  color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 30px;
    height: 30px;
  }

  @media (--desktop) {
    width: 60px;
    height: 60px;

    & svg {
      width: 50px;
      height: 50px;
    }
  }
}

.form {
  @media (--desktop) {
    display: flex;
  }
}

.bottom {
  @media (--desktop) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
  }
}

.bottom,
.top {
  @media (--desktop) {
    width: 50%;
  }
}
